altair==4.2.0
beautifulsoup4==4.10.0
html5lib==1.1
jupyterlab==3.2.9
lxml==4.7.1
matplotlib==3.5.1
numpy==1.22.2
openpyxl==3.0.9
pandas==1.4.0
pyarrow==7.0.0
requests==2.27.1
scipy==1.8.0
XlsxWriter==3.0.2